<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjd.mol.dal.mapper.HisTodayMapper" >
  <resultMap id="BaseResultMap" type="com.xjd.mol.biz.model.HisToday" >
    <id column="evt_id" property="evtId" jdbcType="BIGINT" />
    <result column="evt_date" property="evtDate" jdbcType="DATE" />
    <result column="evt_key" property="evtKey" jdbcType="VARCHAR" />
    <result column="res_id" property="resId" jdbcType="BIGINT" />
    <result column="summary" property="summary" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    evt_id, evt_date, evt_key, res_id, summary, add_time, upd_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjd.mol.bean.HisTodayExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from his_today
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from his_today
    where evt_id = #{evtId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from his_today
    where evt_id = #{evtId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjd.mol.bean.HisTodayExample" >
    delete from his_today
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjd.mol.biz.model.HisToday" >
    <selectKey resultType="java.lang.Long" keyProperty="evtId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into his_today (evt_date, evt_key, res_id, 
      summary, add_time, upd_time
      )
    values (#{evtDate,jdbcType=DATE}, #{evtKey,jdbcType=VARCHAR}, #{resId,jdbcType=BIGINT}, 
      #{summary,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xjd.mol.biz.model.HisToday" >
    <selectKey resultType="java.lang.Long" keyProperty="evtId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into his_today
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="evtDate != null" >
        evt_date,
      </if>
      <if test="evtKey != null" >
        evt_key,
      </if>
      <if test="resId != null" >
        res_id,
      </if>
      <if test="summary != null" >
        summary,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="evtDate != null" >
        #{evtDate,jdbcType=DATE},
      </if>
      <if test="evtKey != null" >
        #{evtKey,jdbcType=VARCHAR},
      </if>
      <if test="resId != null" >
        #{resId,jdbcType=BIGINT},
      </if>
      <if test="summary != null" >
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjd.mol.bean.HisTodayExample" resultType="java.lang.Integer" >
    select count(*) from his_today
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update his_today
    <set >
      <if test="record.evtId != null" >
        evt_id = #{record.evtId,jdbcType=BIGINT},
      </if>
      <if test="record.evtDate != null" >
        evt_date = #{record.evtDate,jdbcType=DATE},
      </if>
      <if test="record.evtKey != null" >
        evt_key = #{record.evtKey,jdbcType=VARCHAR},
      </if>
      <if test="record.resId != null" >
        res_id = #{record.resId,jdbcType=BIGINT},
      </if>
      <if test="record.summary != null" >
        summary = #{record.summary,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updTime != null" >
        upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update his_today
    set evt_id = #{record.evtId,jdbcType=BIGINT},
      evt_date = #{record.evtDate,jdbcType=DATE},
      evt_key = #{record.evtKey,jdbcType=VARCHAR},
      res_id = #{record.resId,jdbcType=BIGINT},
      summary = #{record.summary,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      upd_time = #{record.updTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjd.mol.biz.model.HisToday" >
    update his_today
    <set >
      <if test="evtDate != null" >
        evt_date = #{evtDate,jdbcType=DATE},
      </if>
      <if test="evtKey != null" >
        evt_key = #{evtKey,jdbcType=VARCHAR},
      </if>
      <if test="resId != null" >
        res_id = #{resId,jdbcType=BIGINT},
      </if>
      <if test="summary != null" >
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where evt_id = #{evtId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjd.mol.biz.model.HisToday" >
    update his_today
    set evt_date = #{evtDate,jdbcType=DATE},
      evt_key = #{evtKey,jdbcType=VARCHAR},
      res_id = #{resId,jdbcType=BIGINT},
      summary = #{summary,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where evt_id = #{evtId,jdbcType=BIGINT}
  </update>
</mapper>