<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjd.mol.dal.mapper.auto.MomentUserMapper" >
  <resultMap id="BaseResultMap" type="com.xjd.mol.dal.domain.auto.MomentUser" >
    <id column="mnt_id" property="mntId" jdbcType="BIGINT" />
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="role" property="role" jdbcType="CHAR" />
    <result column="relation_status" property="relationStatus" jdbcType="CHAR" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="pic_reses" property="picReses" jdbcType="VARCHAR" />
    <result column="audio_reses" property="audioReses" jdbcType="VARCHAR" />
    <result column="vedio_reses" property="vedioReses" jdbcType="VARCHAR" />
    <result column="user_attitude" property="userAttitude" jdbcType="CHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mnt_id, user_id, role, relation_status, comments, pic_reses, audio_reses, vedio_reses, 
    user_attitude, add_time, upd_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjd.mol.dal.domain.auto.MomentUserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from moment_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.xjd.mol.dal.domain.auto.MomentUserKey" >
    select 
    <include refid="Base_Column_List" />
    from moment_user
    where mnt_id = #{mntId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.xjd.mol.dal.domain.auto.MomentUserKey" >
    delete from moment_user
    where mnt_id = #{mntId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjd.mol.dal.domain.auto.MomentUserExample" >
    delete from moment_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjd.mol.dal.domain.auto.MomentUser" >
    insert into moment_user (mnt_id, user_id, role, 
      relation_status, comments, pic_reses, 
      audio_reses, vedio_reses, user_attitude, 
      add_time, upd_time)
    values (#{mntId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{role,jdbcType=CHAR}, 
      #{relationStatus,jdbcType=CHAR}, #{comments,jdbcType=VARCHAR}, #{picReses,jdbcType=VARCHAR}, 
      #{audioReses,jdbcType=VARCHAR}, #{vedioReses,jdbcType=VARCHAR}, #{userAttitude,jdbcType=CHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xjd.mol.dal.domain.auto.MomentUser" >
    insert into moment_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mntId != null" >
        mnt_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="relationStatus != null" >
        relation_status,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="picReses != null" >
        pic_reses,
      </if>
      <if test="audioReses != null" >
        audio_reses,
      </if>
      <if test="vedioReses != null" >
        vedio_reses,
      </if>
      <if test="userAttitude != null" >
        user_attitude,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mntId != null" >
        #{mntId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="role != null" >
        #{role,jdbcType=CHAR},
      </if>
      <if test="relationStatus != null" >
        #{relationStatus,jdbcType=CHAR},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="picReses != null" >
        #{picReses,jdbcType=VARCHAR},
      </if>
      <if test="audioReses != null" >
        #{audioReses,jdbcType=VARCHAR},
      </if>
      <if test="vedioReses != null" >
        #{vedioReses,jdbcType=VARCHAR},
      </if>
      <if test="userAttitude != null" >
        #{userAttitude,jdbcType=CHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjd.mol.dal.domain.auto.MomentUserExample" resultType="java.lang.Integer" >
    select count(*) from moment_user
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update moment_user
    <set >
      <if test="record.mntId != null" >
        mnt_id = #{record.mntId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.role != null" >
        role = #{record.role,jdbcType=CHAR},
      </if>
      <if test="record.relationStatus != null" >
        relation_status = #{record.relationStatus,jdbcType=CHAR},
      </if>
      <if test="record.comments != null" >
        comments = #{record.comments,jdbcType=VARCHAR},
      </if>
      <if test="record.picReses != null" >
        pic_reses = #{record.picReses,jdbcType=VARCHAR},
      </if>
      <if test="record.audioReses != null" >
        audio_reses = #{record.audioReses,jdbcType=VARCHAR},
      </if>
      <if test="record.vedioReses != null" >
        vedio_reses = #{record.vedioReses,jdbcType=VARCHAR},
      </if>
      <if test="record.userAttitude != null" >
        user_attitude = #{record.userAttitude,jdbcType=CHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updTime != null" >
        upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update moment_user
    set mnt_id = #{record.mntId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      role = #{record.role,jdbcType=CHAR},
      relation_status = #{record.relationStatus,jdbcType=CHAR},
      comments = #{record.comments,jdbcType=VARCHAR},
      pic_reses = #{record.picReses,jdbcType=VARCHAR},
      audio_reses = #{record.audioReses,jdbcType=VARCHAR},
      vedio_reses = #{record.vedioReses,jdbcType=VARCHAR},
      user_attitude = #{record.userAttitude,jdbcType=CHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      upd_time = #{record.updTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjd.mol.dal.domain.auto.MomentUser" >
    update moment_user
    <set >
      <if test="role != null" >
        role = #{role,jdbcType=CHAR},
      </if>
      <if test="relationStatus != null" >
        relation_status = #{relationStatus,jdbcType=CHAR},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="picReses != null" >
        pic_reses = #{picReses,jdbcType=VARCHAR},
      </if>
      <if test="audioReses != null" >
        audio_reses = #{audioReses,jdbcType=VARCHAR},
      </if>
      <if test="vedioReses != null" >
        vedio_reses = #{vedioReses,jdbcType=VARCHAR},
      </if>
      <if test="userAttitude != null" >
        user_attitude = #{userAttitude,jdbcType=CHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where mnt_id = #{mntId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjd.mol.dal.domain.auto.MomentUser" >
    update moment_user
    set role = #{role,jdbcType=CHAR},
      relation_status = #{relationStatus,jdbcType=CHAR},
      comments = #{comments,jdbcType=VARCHAR},
      pic_reses = #{picReses,jdbcType=VARCHAR},
      audio_reses = #{audioReses,jdbcType=VARCHAR},
      vedio_reses = #{vedioReses,jdbcType=VARCHAR},
      user_attitude = #{userAttitude,jdbcType=CHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where mnt_id = #{mntId,jdbcType=BIGINT}
      and user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>