<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjd.mol.dal.mapper.auto.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.xjd.mol.dal.domain.auto.UserInfo" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="icon_res" property="iconRes" jdbcType="BIGINT" />
    <result column="grade" property="grade" jdbcType="INTEGER" />
    <result column="birth_day" property="birthDay" jdbcType="DATE" />
    <result column="birth_time" property="birthTime" jdbcType="TIME" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="mood" property="mood" jdbcType="VARCHAR" />
    <result column="hometown" property="hometown" jdbcType="VARCHAR" />
    <result column="current_place" property="currentPlace" jdbcType="VARCHAR" />
    <result column="career" property="career" jdbcType="VARCHAR" />
    <result column="hobby" property="hobby" jdbcType="VARCHAR" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="upd_time" property="updTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    user_id, nick_name, icon_res, grade, birth_day, birth_time, gender, mood, hometown, 
    current_place, career, hobby, add_time, upd_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjd.mol.dal.domain.auto.UserInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_info
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjd.mol.dal.domain.auto.UserInfoExample" >
    delete from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjd.mol.dal.domain.auto.UserInfo" >
    insert into user_info (user_id, nick_name, icon_res, 
      grade, birth_day, birth_time, 
      gender, mood, hometown, 
      current_place, career, hobby, 
      add_time, upd_time)
    values (#{userId,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR}, #{iconRes,jdbcType=BIGINT}, 
      #{grade,jdbcType=INTEGER}, #{birthDay,jdbcType=DATE}, #{birthTime,jdbcType=TIME}, 
      #{gender,jdbcType=CHAR}, #{mood,jdbcType=VARCHAR}, #{hometown,jdbcType=VARCHAR}, 
      #{currentPlace,jdbcType=VARCHAR}, #{career,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{updTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xjd.mol.dal.domain.auto.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="iconRes != null" >
        icon_res,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="birthDay != null" >
        birth_day,
      </if>
      <if test="birthTime != null" >
        birth_time,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="mood != null" >
        mood,
      </if>
      <if test="hometown != null" >
        hometown,
      </if>
      <if test="currentPlace != null" >
        current_place,
      </if>
      <if test="career != null" >
        career,
      </if>
      <if test="hobby != null" >
        hobby,
      </if>
      <if test="addTime != null" >
        add_time,
      </if>
      <if test="updTime != null" >
        upd_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="iconRes != null" >
        #{iconRes,jdbcType=BIGINT},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="birthDay != null" >
        #{birthDay,jdbcType=DATE},
      </if>
      <if test="birthTime != null" >
        #{birthTime,jdbcType=TIME},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="mood != null" >
        #{mood,jdbcType=VARCHAR},
      </if>
      <if test="hometown != null" >
        #{hometown,jdbcType=VARCHAR},
      </if>
      <if test="currentPlace != null" >
        #{currentPlace,jdbcType=VARCHAR},
      </if>
      <if test="career != null" >
        #{career,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        #{updTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjd.mol.dal.domain.auto.UserInfoExample" resultType="java.lang.Integer" >
    select count(*) from user_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_info
    <set >
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.nickName != null" >
        nick_name = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.iconRes != null" >
        icon_res = #{record.iconRes,jdbcType=BIGINT},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=INTEGER},
      </if>
      <if test="record.birthDay != null" >
        birth_day = #{record.birthDay,jdbcType=DATE},
      </if>
      <if test="record.birthTime != null" >
        birth_time = #{record.birthTime,jdbcType=TIME},
      </if>
      <if test="record.gender != null" >
        gender = #{record.gender,jdbcType=CHAR},
      </if>
      <if test="record.mood != null" >
        mood = #{record.mood,jdbcType=VARCHAR},
      </if>
      <if test="record.hometown != null" >
        hometown = #{record.hometown,jdbcType=VARCHAR},
      </if>
      <if test="record.currentPlace != null" >
        current_place = #{record.currentPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.career != null" >
        career = #{record.career,jdbcType=VARCHAR},
      </if>
      <if test="record.hobby != null" >
        hobby = #{record.hobby,jdbcType=VARCHAR},
      </if>
      <if test="record.addTime != null" >
        add_time = #{record.addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updTime != null" >
        upd_time = #{record.updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_info
    set user_id = #{record.userId,jdbcType=BIGINT},
      nick_name = #{record.nickName,jdbcType=VARCHAR},
      icon_res = #{record.iconRes,jdbcType=BIGINT},
      grade = #{record.grade,jdbcType=INTEGER},
      birth_day = #{record.birthDay,jdbcType=DATE},
      birth_time = #{record.birthTime,jdbcType=TIME},
      gender = #{record.gender,jdbcType=CHAR},
      mood = #{record.mood,jdbcType=VARCHAR},
      hometown = #{record.hometown,jdbcType=VARCHAR},
      current_place = #{record.currentPlace,jdbcType=VARCHAR},
      career = #{record.career,jdbcType=VARCHAR},
      hobby = #{record.hobby,jdbcType=VARCHAR},
      add_time = #{record.addTime,jdbcType=TIMESTAMP},
      upd_time = #{record.updTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjd.mol.dal.domain.auto.UserInfo" >
    update user_info
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="iconRes != null" >
        icon_res = #{iconRes,jdbcType=BIGINT},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="birthDay != null" >
        birth_day = #{birthDay,jdbcType=DATE},
      </if>
      <if test="birthTime != null" >
        birth_time = #{birthTime,jdbcType=TIME},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="mood != null" >
        mood = #{mood,jdbcType=VARCHAR},
      </if>
      <if test="hometown != null" >
        hometown = #{hometown,jdbcType=VARCHAR},
      </if>
      <if test="currentPlace != null" >
        current_place = #{currentPlace,jdbcType=VARCHAR},
      </if>
      <if test="career != null" >
        career = #{career,jdbcType=VARCHAR},
      </if>
      <if test="hobby != null" >
        hobby = #{hobby,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        add_time = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updTime != null" >
        upd_time = #{updTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjd.mol.dal.domain.auto.UserInfo" >
    update user_info
    set nick_name = #{nickName,jdbcType=VARCHAR},
      icon_res = #{iconRes,jdbcType=BIGINT},
      grade = #{grade,jdbcType=INTEGER},
      birth_day = #{birthDay,jdbcType=DATE},
      birth_time = #{birthTime,jdbcType=TIME},
      gender = #{gender,jdbcType=CHAR},
      mood = #{mood,jdbcType=VARCHAR},
      hometown = #{hometown,jdbcType=VARCHAR},
      current_place = #{currentPlace,jdbcType=VARCHAR},
      career = #{career,jdbcType=VARCHAR},
      hobby = #{hobby,jdbcType=VARCHAR},
      add_time = #{addTime,jdbcType=TIMESTAMP},
      upd_time = #{updTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>